
<div class="jumbotron">
       <h1>Senior .NET Developer Hands On Test</h1>
</div>


<div class="container">
    <div class="row">
        <div>
            <label for="search">Search by Id</label>
            <input type="number" name="search" id="search" min="1" max="99" maxlength="2" />

            <button type="submit" id="find" class="btn btn-primary btn-sm">Find Employee</button>
        </div>
        <br />
    </div>
    <div class="row">
        <table id="records_table" class="table table-hover table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Contract Type Name</th>
                    <th>Role Id</th>
                    <th>Role Name</th>
                    <th>Role Description</th>
                    <th>Hourly Salary</th>
                    <th>Monthly Salary</th>
                    <th>Anual Salary</th>
                </tr>
            </thead>
            <tbody id="tablebody"></tbody>
        </table>
    </div> 

        
</div>

